<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    {% load django_bootstrap5 %}
    <title>{% block title %}Homepage{% endblock %}</title>
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
</head>
<body>
    <p class="display-1 p-4">Art Library</p>
    <div class="container p-4 text-center">
        <li>
            <a href="{% url 'account_login' %}">Login as Patron</a>
        </li>
        <li>
            <a href="{% url 'account_login' %}">Login as Librarian</a>
        </li>
    </div>
    <script src="{% static 'js/bootstrap.js' %}"></script>
</body>
</html>
