<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    {% load django_bootstrap5 %}
    {% load socialaccount %}
    <style>
        html, body {
            height: 100%;
            margin: 0;
            display: flex;
            flex-direction: column;
        }
        
        body {
            display: flex;
            flex-direction: column;
        }

        .container {
            flex: 1;
        }
    </style>
    <title>{% block title %}Homepage{% endblock %}</title>
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
</head>
<body>
    <p class="display-1 p-4 text-center">Art Library</p>
    <div class="container p-4 text-center">
        <ul>
            <button type="button" class="btn btn-info"> <a href="{% provider_login_url 'google' process='login' prompt='select_account' %}" class="text-white text-decoration-none">Login with Google</a></button>
        </ul>
        <ul>
            <button type="button" class="btn btn-info">  <a href="{% url 'store_user_role' %}?anonymous=true" class="text-white text-decoration-none">Login as anonymous user</a></button>
        </ul>
    </div>
    <script src="{% static 'js/bootstrap.js' %}"></script>
</body>


<!-- Footer -->
<footer class="bg-dark text-light text-center py-3 mt-4">
    <div class="container">
        <p class="mb-0">&copy; 2025 Art Supplies Exchange. All rights reserved.</p>
    </div>
</footer>

</html>